<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MAAV SOLUTIONS - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#">MAAV SOLUTIONS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    </div> 
   </header><!-- End Header -->



   <main id="main" class="main-container">
    
    <!-- ======= Services Section ======= -->
   <section id="services" class="services">
     <div class="container mt-5 mb-5">
   
       <div class="section-title" data-aos="fade-up">
         <h2>Goods Service Tax</h2>
         <p>These are the Services we are providing related to GST </p>
       </div>
   
       <a href="#">
       <div class="row mb-5">

         <!-- Box 7 -->
         
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <a href="https://forms.gle/LTaCR1s47bu2iT6S7" class="box-link">
            <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
              <div class="icon"><i class="bi bi-receipt"></i></div>
              <h4 class="title"><a href="https://forms.gle/LTaCR1s47bu2iT6S7">GST REGISTRATION</a></h4>
              <p class="description">Businesses in India meeting revenue thresholds must register for GST, 
                                     allowing them to charge and receive GST while ensuring compliance to avoid penalties.</p>
            </div>
          </a>
        </div>
   
         <!-- Box 1 -->
         
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/vmHFmxaHwq8nTwvm8" class="box-link">
             <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
              <div class="icon"><i class="bi bi-receipt"></i></div>
              <h4 class="title"><a href="https://forms.gle/vmHFmxaHwq8nTwvm8">GSTR 1</a></h4>
               <p class="description">GSTR-1 is a monthly/quarterly return that summarizes all sales (outward supplies) of a taxpayer. 
                                      You must make sure that a valid GSTIN is filled while entering sales invoice details.</p>
             </div>
           </a>
         </div>
         
   
         <!-- Box 2 -->
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/GdyhgzT4NtATRGGx8" class="box-link">
             <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon"><i class="bi bi-receipt"></i></div>
              <h4 class="title"><a href="https://forms.gle/GdyhgzT4NtATRGGx8">GSTR 3B</a></h4>
               <p class="description">GSTR-3B is a self-declared summary GST return filed every month (quarterly for the QRMP scheme). 
                                     Taxpayers need to report the summary figures of sales, ITC claimed, and net tax payable in GSTR-3B.</p>
             </div>
           </a>
         </div>
         <div class="row mt-4"></div>
   

          <!-- Box 3 -->
         
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/ddBEppfAMuU3aP3U8" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="bi bi-receipt"></i></div>
                <h4 class="title"><a href="https://forms.gle/ddBEppfAMuU3aP3U8">GSTR 4</a></h4>
                <p class="description">Form GSTR-4 (Annual Return) is a yearly return to be filed once, for each financial year, 
                                       by taxpayers who have opted for composition scheme during the financial year, for were in Composition scheme 
                                       for any period during the said financial year, from 1st April, 2019 onwards.</p>
              </div>
            </a>
          </div>

          
           <!-- Box 4 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/cYYDgPhRR6H1TTud8" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="bi bi-receipt"></i></div>
                <h4 class="title"><a href="https://forms.gle/cYYDgPhRR6H1TTud8">GSTR 5</a></h4>
                <p class="description">A document/statement that has to be filed by every registered non-resident taxable person for the period 
                                       during which they carry out businesses transactions in India.</p>
              </div>
            </a>
          </div>


           <!-- Box 5 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/y1xXUKudeTYbAArY9" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="bi bi-receipt"></i></div>
                <h4 class="title"><a href="https://forms.gle/y1xXUKudeTYbAArY9">GSTR 7</a></h4>
                <p class="description">A return which is required to be filed by the persons who deduct tax at the time of making/crediting 
                                       payment to suppliers towards the inward supplies received.</p>
              </div>
            </a>
          </div>
          <div class="row mt-4"></div>


           <!-- Box 6 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/VDugJLYiCY9Y3HNPA" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="bi bi-receipt"></i></div>
                <h4 class="title"><a href="https://forms.gle/VDugJLYiCY9Y3HNPA">GSTR 9</a></h4>
                <p class="description">An annual return to be filed once for each financial year, by the registered taxpayers who were regular taxpayers, 
                                       including SEZ units and SEZ developers.</p>
              </div>
            </a>
          </div>
         
          
       </div>
     </div>
   </section>
   <!-- End Services Section -->
  </main><!-- End #main -->





<!-- ======= Footer ======= -->
<footer id="footer1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright1">
          &copy; Copyright <strong>MAAV SOLUTIONS</strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#" class="scrollto">Home</a>
          <a href="#about" class="scrollto">About us</a>
          <a href="#services">Services</a>
          <a href="#">Privacy Policy</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

</body>
</html>