<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MAAV SOLUTIONS - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#">MAAV SOLUTIONS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>
    </div> 
   </header><!-- End Header -->

   
   <main id="main" class="main-container">

    <!-- ======= Services Section ======= -->
   <section id="services" class="services">
     <div class="container mt-5 mb-5">
   
       <div class="section-title" data-aos="fade-up">
         <h2 class="h2-size">Income Tax Returns</h2>
         <p>These are the Services we are providing related to ITR </p>
       </div>
   
       <a href="#">
       <div class="row mb-5">

         <!-- Box 7 -->
         
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <a href="https://forms.gle/d37SQfi5LQw6VGu97" class="box-link">
            <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
              <div class="icon"><i class="ri ri-currency-fill"></i></div>
              <h4 class="title"><a href="https://forms.gle/d37SQfi5LQw6VGu97">PAN REGISTRATION</a></h4>
              <p class="description">A Company's Permanent Account Number (PAN) iS a 10-character alphanumeric identification code.<br> 
                                     It is issued by the Income Tax Department and includes the company's tax details.</p>
            </div>
          </a>
        </div>
   
         <!-- Box 1 -->
         
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/XfugxYQiNPeC5W1U7" class="box-link">
             <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
              <div class="icon"><i class="ri ri-currency-fill"></i></div>
               <h2 class="title"><a href="https://forms.gle/XfugxYQiNPeC5W1U7"><br><br><br>ITR - 1</a></h2>
               <p class="description">ITR-1 can be filed by a Resident Individual whose total income does not exceed ₹ 50 lakh during the FY. </p>
             </div>
           </a>
         </div>
         
   
         <!-- Box 2 -->
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/VunDUPMdhqcAnTfm6" class="box-link">
             <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
               <div class="icon"><i class="ri ri-currency-fill"></i></div>
               <h4 class="title"><a href="https://forms.gle/VunDUPMdhqcAnTfm6">ITR - 2</a></h4>
               <p class="description">For individuals and HUF receiving income other than income from 'Profits and Gains from Business or Profession'</p>
             </div>
           </a>
         </div>
         <div class="row mt-4"></div>

   

          <!-- Box 3 -->
         
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/r3sLs4uX6cQsga1b8" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="ri ri-currency-fill"></i></div>
                <h4 class="title"><a href="https://forms.gle/r3sLs4uX6cQsga1b8">ITR - 3</a></h4>
                <p class="description">The ITR-3 form is an income tax return form used in India for individuals and Hindu Undivided Families (HUFs) 
                                       who earn income from a business or profession.</p>
              </div>
            </a>
          </div>

           <!-- Box 4 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/tBewwdLeRWbXKj6f9" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="ri ri-currency-fill"></i></div>
                <h4 class="title"><a href="https://forms.gle/tBewwdLeRWbXKj6f9">ITR - 4</a></h4>
                <p class="description">(ITR-4) INDIAN INCOME TAX RETURN. [For Individuals, HUFs and Firms (other than LLP) 
                                       being a resident having total income upto. Rs.50 lakh and having income from business and profession 
                                       which is computed under sections. 44AD, 44ADA or 44AE,]</p>
              </div>
            </a>
          </div>


           <!-- Box 5 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/zsrRXgTmZNjdK7e99" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="ri ri-currency-fill"></i></div>
                <h4 class="title"><a href="https://forms.gle/zsrRXgTmZNjdK7e99">ITR - 5</a></h4>
                <p class="description">The ITR-5 form from the Income Tax Department is for filing income tax returns by entities such as 
                                       firms, LLPs, Association of persons (AOPs), Body of Individuals (BOIs), Artificial Juridical Person (AJP), 
                                       Estate of deceased, Estate of insolvent, Business trust, and investment fund.</p>
              </div>
            </a>
          </div>
          <div class="row mt-4"></div>


           <!-- Box 6 -->
         
           <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/eNQJD45HfbCQrTZq7" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
                <div class="icon"><i class="ri ri-currency-fill"></i></div>
                <h4 class="title"><a href="https://forms.gle/eNQJD45HfbCQrTZq7">ITR - 6</a></h4>
                <p class="description">ITR 6 is an income tax return form that is used by companies to e-file income tax return 
                                       if they do not claim exemption under Section 11 of the Income Tax Act, 1961.</p>
              </div>
            </a>
          </div>


          



       </div>
     </div>
   </section>
   <!-- End Services Section -->
  </main><!-- End #main -->





<!-- ======= Footer ======= -->
<footer id="footer1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright1">
          &copy; Copyright <strong>MAAV SOLUTIONS</strong>. All Rights Reserved
        </div>
       
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#" class="scrollto">Home</a>
          <a href="#about" class="scrollto">About us</a>
          <a href="#services">Services</a>
          <a href="#">Privacy Policy</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

</body>
</html>