<div class="section-title" data-aos="fade-up">
  <h2>Services</h2>
  <p>These are the Services we are providing related to ITR</p>
</div>
<div class="row">
  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
    <a href="{{ url_for('itr_page') }}" class="box-link">
      <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200">
        <div class="icon"><i class="ri ri-currency-fill"></i></div>
        <h4 class="title">Income Tax Returns</h4>
        <p class="description">A tax levied by the Government of India on individuals' income...</p>
      </div>
    </a>
    <form action="/submit_service/itr" method="post">
      <button class="btn btn-outline-success btn-sm mt-2">I submitted this</button>
    </form>
  </div>

  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
    <a href="{{ url_for('gst_page') }}" class="box-link">
      <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="bi bi-receipt"></i></div>
        <h4 class="title">GST Returns</h4>
        <p class="description">Goods and Services Tax simplifies India's indirect tax structure...</p>
      </div>
    </a>
    <form action="/submit_service/gst" method="post">
      <button class="btn btn-outline-success btn-sm mt-2">I submitted this</button>
    </form>
  </div>

  <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
    <a href="{{ url_for('tds_page') }}" class="box-link">
      <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
        <div class="icon"><i class="bi bi-list-check"></i></div>
        <h4 class="title">TDS</h4>
        <p class="description">Tax Deduction at Source ensures tax collection on income...</p>
      </div>
    </a>
    <form action="/submit_service/tds" method="post">
      <button class="btn btn-outline-success btn-sm mt-2">I submitted this</button>
    </form>
  </div>
</div>
