<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MAAV SOLUTIONS - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#">MAAV SOLUTIONS</a></h1>
      </div>
    </div> 
   </header><!-- End Header -->


   <main id="main" class="main-container">
 
    <!-- ======= Services Section ======= -->
   <section id="services" class="services">
     <div class="container">
   
       <div class="section-title" data-aos="fade-up">
         <h2 class="h-size">Tax Deducted at Source</h2>
         <p>These are the Services we are providing related to TDS </p>
       </div>
   
       <a href="#">
       <div class="row mb-5">
   
         <!-- Box 1 -->
         
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/h6v6r6yXHykfgr9s5" class="box-link">
             <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200" onclick="showSubServices(1)">
              <div class="icon"><i class="bi bi-list-check"></i></div>
              <h4 class="title"><a href="">Salaries (24Q)</a></h4>
               <p class="description">Form 24Q. It is used for preparing eTDS returns for the TDS deducted on salary 
                                      under Section 192 of the Income Tax Act, 1961. It has to be submitted on a quarterly basis by the deductor. 
                                      It contains details like salaries paid and the TDS deducted of the employees by the employer.</p>
             </div>
           </a>
         </div>
         
   
         <!-- Box 2 -->
         <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
           <a href="https://forms.gle/EB4UUPMwXxo6FPcBA" class="box-link">
             <div class="icon-box" data-aos="zoom-in" data-aos-delay="100" onclick="showSubServices(2)">
              <div class="icon"><i class="bi bi-list-check"></i></div>
              <h4 class="title"><a href="">Other Than Salaries (26Q)</a></h4>
               <p class="description">TDS under Section 200(3) of the Income Tax Act, 1961 under Sections 
                                      193, 194, 194A, 194B, 194BB, 194C, 194D, 194EE, 194F, 194G, 194H, 194I and 194J. 
                                      It is a statement for tax deducted at source on all payments except salaries.</p>
             </div>
           </a>
         </div>
   

          <!-- Box 3 -->
         
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <a href="https://forms.gle/cKJRAwEtr97MPHt37" class="box-link">
              <div class="icon-box" data-aos="zoom-in-right" data-aos-delay="200" onclick="showSubServices(1)">
                <div class="icon"><i class="bi bi-list-check"></i></div>
                <h4 class="title"><a href="">Non-Residents (27Q)</a></h4>
                <p class="description">Form 27Q is a TDS Return or Statement containing details of Tax Deducted at Source (TDS) 
                                       deducted on payments other than salary made to Non-Resident Indian (NRI) and foreigners. 
                                       Form 27Q is required to furnish on a quarterly basis on or before the due date.</p>
              </div>
            </a>
          </div>


       </div>
     </div>
   </section>
   <!-- End Services Section -->
  </main><!-- End #main -->





<!-- ======= Footer ======= -->
<footer id="footer1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright1">
          &copy; Copyright <strong>MAAV SOLUTIONS</strong>. All Rights Reserved
        </div>
        
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="#" class="scrollto">Home</a>
          <a href="#about" class="scrollto">About us</a>
          <a href="#services">Services</a>
          <a href="#">Privacy Policy</a>
        </nav>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->

<!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="{{ url_for('static', filename='main.js') }}" defer></script>

</body>
</html>